* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.space {
    width: 80vw;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(219, 214, 214);
    border: 1px solid #000;
    margin: 20px auto;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    width: 300px;
    height: 300px;
}

@media screen and (max-width: 500px) {
    .space {
        display: block;
        margin: 20px auto;
        height: 60vh;
        padding-left: 1rem;
        padding-right: 1rem;
    } 
    
    .content {
        width: 10rem;
        height: 6rem;
    }
}

@media screen and (min-width: 501px) and (max-width: 1200px) {
    .space {
        padding-left: 1rem;
        padding-right: 1rem;
        flex-wrap: wrap;
    }

    .images {
        width: 50%;
    }

    .content {
        width: 90%;
        height: 20vh;
    }
}

@media screen and (min-width: 1201px) {
    .space {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .content {
        width: 20vw;
        height: 20vh;
    }
}